@font-face {
  font-family: 'INGMe';
  src: url('../assets/fonts/INGMeWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'INGMe';
  src: url('../assets/fonts/INGMeWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #f5f5f5;
  --blue-color: #559BD1;
  --white-color: #fff;
  --border-color :#e5e7eb;
  --modal-body-color: #4b5563;
  --light-color: #d9d9d9;
  --error-color: #e53e3e;
  --button-color: #e8e8e8;
  --bg-color: #6b7280;
  --primary-text-color: #333;
  --secondary-text-color: #9ca3af;
  --font-family: 'INGMe', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: var(--font-family);
  color: var(--primary-text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  cursor: pointer;
}
